.container {
  padding-right: 10px;
  padding-left: 10px;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'Karla', sans-serif;
}

#root {
  overflow-x: hidden;
}

.col-2.col-form-label, .control-label  {
  margin-left: 50px;
}

.checkbox{
  text-align: center;
}

#buttonSubmit  {
  margin-bottom: 30px;
}
