.navbar-brand, h5, .navbar-header {
  margin-top: 3px;
  cursor: pointer !important;
  position: relative;
  z-index: 1;
};

ul.nav-bar-nav {
  margin-top: 4px;
}

.btn-primary {
  background: black;
  opacity: 0.9;
  border-color: #BC7C43;
}

nav.navbar.navbar-inverse {
  height: 70px;
  position: relative;
  z-index: 1;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background: #222222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: solid blue;
  opacity: 0.95;
  margin: auto;
}
