.navbar-brand, h5, .navbar-header {
  margin-top: 6px;
  cursor: pointer !important;
};

ul.nav-bar-nav {
  margin-top: 4px;
}

.btn-primary {
  background: black;
  opacity: 0.9;
}

nav.navbar.navbar-inverse {
  height: 65px;

}
